<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit User</title>
</head>
<body>
    
    <header>
        Hello {{request.session.first_name}}
        adminlevel: {{request.session.is_admin}}
        Hello {{request.session.first_name}} <a href="{% url 'users:edit' '' %}">Profile</a>
        <p><a href="{% url 'dash:home' %}">Home</a>
        <form action="{% url 'logreg:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Log Out">
        </form>
    </header>
    
    <div class="messages">
        {% for message in messages %}
            <p class="{{message.tags}}"> {{message}}</p>
        {% endfor %}
    </div>

    <form action="{% url 'users:update' user.id 'info' %}" method="POST">
        {% csrf_token %}
        <p>First Name</p>
        <p><input type="text" name="first_name" value="{{user.first_name}}"></p>

        <p>Last Name</p>
        <p><input type="text" name="last_name" value="{{user.last_name}}"></p>

        <p>Email</p>
        <p><input type="text" name="email" value="{{user.email}}" disabled></p>
        
        {% if is_admin %}
        <p>Change admin status:
            <input type="checkbox" name="is_admin" value="True" {% if user.is_admin %}checked{% endif %}>
        </p>
        {% endif %}

        <p><input type="submit" value="Update Info"></p>
    </form>
    <form action="{% url 'users:update' user.id 'password' %}" method="POST">
        {% csrf_token %}
        <p>Password</p>
        <p><input type="password" name="password"></p>
        <p>Confirm Password</p>
        <p><input type="password" name="password2"></p>

       
        <p><input type="submit" value="Update Password"></p>
    </form>


    {% if profile %}

        <form action="{% url 'users:update' user.id 'description' %}" method="POST">
            {% csrf_token %}
            <p>Edit description</p>
            <textarea name="description" cols=50 rows=10>{{user.description}}</textarea>
            <input type="submit" value="Update Description">
        </form>
    {% endif %}
    
</body>
</html>