<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <header>
        Hello {{request.session.first_name}} <a href="{% url 'users:edit' '' %}">Profile</a>
        adminlevel: {{request.session.is_admin}}

        <form action="{% url 'logreg:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Log Out">
        </form>
    </header>
    {% for message in messages %}
        <p class="{{message.tags}}"> {{message}}</p>
    {% endfor %}


    {% if request.session.is_admin%}
        <a href="{% url 'users:new' %}">Add User</a>
    {% endif %}
    <table>
        <thead>
            <th>ID</th> <th>Name</th> <th>Email</th> <th>Created At</th> <th>Is Admin?</th> 
              {% if request.session.is_admin %}<th>Actions</th>{% endif %}
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td> <td><a href="{% url 'users:show' user.id %}">{{user}}</a></td> <td>{{user.email}}</td> 
                    <td>{{user.created_at}}</td> <td>{{user.is_admin}}</td>
                     {% if request.session.is_admin %}
                     <td>
                        <a href="{% url 'users:edit' user.id %}">Edit</a>
                        {% if user.id != request.session.user_id %}<a class="delete" href="{% url 'users:delete' user.id %}">Delete</a>{% endif %}
                     </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>